

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
  <symbol id="twitter" viewBox="0 0 30 20">
      <path fill="#000000" d="M16.001,3.038c-0.589,0.261-1.221,0.438-1.885,0.517c0.678-0.406,1.197-1.05,1.443-1.815
      c-0.635,0.376-1.338,0.649-2.086,0.797C12.875,1.898,12.022,1.5,11.078,1.5c-1.813,0-3.283,1.47-3.283,3.282
      c0,0.257,0.029,0.508,0.085,0.748C5.152,5.393,2.733,4.086,1.114,2.1C0.831,2.584,0.67,3.148,0.67,3.75
      c0,1.139,0.58,2.144,1.46,2.732C1.592,6.464,1.086,6.316,0.643,6.07v0.041c0,1.59,1.132,2.917,2.633,3.219
      C3.001,9.404,2.711,9.445,2.411,9.445c-0.212,0-0.417-0.021-0.618-0.06c0.418,1.304,1.63,2.253,3.066,2.28
      c-1.123,0.88-2.539,1.404-4.077,1.404c-0.265,0-0.526-0.016-0.783-0.045C1.452,13.956,3.177,14.5,5.031,14.5
      c6.038,0,9.34-5.002,9.34-9.34L14.36,4.735C15.004,4.274,15.562,3.696,16.001,3.038z"></path>
  </symbol>

  <symbol id="instagram" viewBox="0 0 642.6 505.1">
          <path fill="#0A0B09" d="M251.921.159c-68.418 0-76.997.29-103.867 1.516-26.814 1.223-45.127 5.482-61.151 11.71-16.566 6.437-30.615 15.051-44.621 29.056-14.005 14.006-22.619 28.055-29.056 44.621-6.228 16.024-10.487 34.337-11.71 61.151C.29 175.083 0 183.662 0 252.08c0 68.417.29 76.996 1.516 103.866 1.223 26.814 5.482 45.127 11.71 61.151 6.437 16.566 15.051 30.615 29.056 44.621 14.006 14.005 28.055 22.619 44.621 29.057 16.024 6.227 34.337 10.486 61.151 11.709 26.87 1.226 35.449 1.516 103.867 1.516 68.417 0 76.996-.29 103.866-1.516 26.814-1.223 45.127-5.482 61.151-11.709 16.566-6.438 30.615-15.052 44.621-29.057 14.005-14.006 22.619-28.055 29.057-44.621 6.227-16.024 10.486-34.337 11.709-61.151 1.226-26.87 1.516-35.449 1.516-103.866 0-68.418-.29-76.997-1.516-103.867-1.223-26.814-5.482-45.127-11.709-61.151-6.438-16.566-15.052-30.615-29.057-44.621-14.006-14.005-28.055-22.619-44.621-29.056-16.024-6.228-34.337-10.487-61.151-11.71C328.917.449 320.338.159 251.921.159zm0 45.391c67.265 0 75.233.257 101.797 1.469 24.562 1.12 37.901 5.224 46.778 8.674 11.759 4.57 20.151 10.029 28.966 18.845 8.816 8.815 14.275 17.207 18.845 28.966 3.45 8.877 7.554 22.216 8.674 46.778 1.212 26.564 1.469 34.532 1.469 101.798 0 67.265-.257 75.233-1.469 101.797-1.12 24.562-5.224 37.901-8.674 46.778-4.57 11.759-10.029 20.151-18.845 28.966-8.815 8.816-17.207 14.275-28.966 18.845-8.877 3.45-22.216 7.554-46.778 8.674-26.56 1.212-34.527 1.469-101.797 1.469-67.271 0-75.237-.257-101.798-1.469-24.562-1.12-37.901-5.224-46.778-8.674-11.759-4.57-20.151-10.029-28.966-18.845-8.815-8.815-14.275-17.207-18.845-28.966-3.45-8.877-7.554-22.216-8.674-46.778-1.212-26.564-1.469-34.532-1.469-101.797 0-67.266.257-75.234 1.469-101.798 1.12-24.562 5.224-37.901 8.674-46.778 4.57-11.759 10.029-20.151 18.845-28.966 8.815-8.816 17.207-14.275 28.966-18.845 8.877-3.45 22.216-7.554 46.778-8.674 26.564-1.212 34.532-1.469 101.798-1.469z" mask="url(#b)"/>
    <path fill="#0A0B09" d="M251.921 336.053c-46.378 0-83.974-37.596-83.974-83.973 0-46.378 37.596-83.974 83.974-83.974 46.377 0 83.973 37.596 83.973 83.974 0 46.377-37.596 83.973-83.973 83.973zm0-213.338c-71.447 0-129.365 57.918-129.365 129.365 0 71.446 57.918 129.364 129.365 129.364 71.446 0 129.364-57.918 129.364-129.364 0-71.447-57.918-129.365-129.364-129.365zm164.706-5.111c0 16.696-13.535 30.23-30.231 30.23-16.695 0-30.23-13.534-30.23-30.23 0-16.696 13.535-30.231 30.23-30.231 16.696 0 30.231 13.535 30.231 30.231"/>
  </symbol>


</svg>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-3">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">

    <?xml version="1.0" encoding="UTF-8"?>
<svg  viewBox="0 0 289 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch -->
    <title>flag</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="flag" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero">
            <g id="Layer_2" transform="translate(0.000000, 16.000000)" fill="#000000">
                <g id="Layer_1-2">
                    <g id="User-Profile">
                        <g id="Desktop">
                            <g id="Scout-Master">
                                <g id="Group">
                                    <path d="M1.07,17.53 C1.62280785,17.7068908 2.18758984,17.8439089 2.76,17.94 C3.31330391,18.0720963 3.87443084,18.1689575 4.44,18.23 C5.07066612,18.3034601 5.70507001,18.3401887 6.34,18.34 C7.44666667,18.34 8,17.9233333 8,17.09 C7.97442985,16.6985334 7.78578504,16.3357549 7.48,16.09 C7.07669743,15.7039588 6.65274063,15.3400904 6.21,15 C5.68333333,14.5933333 5.12,14.1466667 4.52,13.66 C3.90075612,13.1632023 3.33139875,12.6072415 2.82,12 C2.2833469,11.3364947 1.84548083,10.5988587 1.52,9.81 C1.16115407,8.94182562 0.984174585,8.00927989 1,7.07 C0.978029343,6.01245336 1.19330276,4.96342261 1.63,4 C2.02961476,3.14326471 2.62166036,2.39037435 3.36,1.8 C4.14598322,1.18825864 5.04225007,0.733335314 6,0.46 C7.01814522,0.152166659 8.07633986,-0.0028554854 9.14,1.19348975e-15 C9.73115548,-0.000472411578 10.3219414,0.0295675489 10.91,0.09 L12.49,0.26 L14.07,0.48 L14.07,7.37 L13.41,7.3 L12.75,7.23 C12.5,7.23 12.25,7.23 11.98,7.23 L11.43,7.23 C11.2176026,7.23975737 11.0066336,7.26989579 10.8,7.32 C10.6088945,7.36529303 10.4308977,7.45429142 10.28,7.58 C10.1287506,7.70892896 10.047207,7.90166848 10.06,8.1 C10.06,8.3 10.2266667,8.54666667 10.56,8.84 C10.8933333,9.13333333 11.3,9.46666667 11.78,9.84 C12.26,10.2333333 12.7866667,10.6866667 13.36,11.2 C13.9506118,11.7407039 14.4804182,12.3442808 14.94,13 C15.4380172,13.6967442 15.8478043,14.4524992 16.16,15.25 C16.5032638,16.1430294 16.6729653,17.0933582 16.66,18.05 C16.6618862,19.0725831 16.4859317,20.0877053 16.14,21.05 C15.8034841,21.9853084 15.255989,22.8305041 14.54,23.52 C13.7423897,24.2653496 12.794494,24.8313593 11.76,25.18 C10.4713116,25.6103773 9.11839228,25.8166975 7.76,25.79 C6.89164633,25.7925859 6.02376479,25.7491918 5.16,25.66 C4.36,25.5733333 3.65333333,25.47 3.04,25.35 C2.36545025,25.2417921 1.69768126,25.0948829 1.04,24.91 L1.07,17.53 Z" id="Shape"></path>
                                    <path d="M18,12.89 C17.9710335,11.1062407 18.3115055,9.33578599 19,7.69 C19.6345965,6.18572736 20.5665749,4.825175 21.74,3.69 C22.8902607,2.58461615 24.2503712,1.72094594 25.74,1.15 C27.3051515,0.557227024 28.9663945,0.258881359 30.64,0.27 C31.8683126,0.256326399 33.0938022,0.390626629 34.29,0.67 C35.23014,0.892860376 36.1500085,1.19390824 37.04,1.57 C37.8471787,1.91139791 38.6177654,2.33354538 39.34,2.83 L35.6,9.51 C35.1965402,9.20900598 34.7758219,8.93186613 34.34,8.68 C33.8658199,8.46227913 33.3781501,8.27522772 32.88,8.12 C32.270545,7.93566299 31.6366999,7.84463205 31,7.85 C29.6225183,7.83508855 28.2954062,8.36737201 27.31,9.33 C26.8423064,9.78633188 26.4685947,10.3299126 26.21,10.93 C25.9375707,11.5611402 25.8012731,12.2426285 25.81,12.93 C25.7987988,13.6186246 25.9387529,14.3013273 26.22,14.93 C26.4874914,15.53262 26.8715263,16.0763862 27.35,16.53 C27.8349854,16.9603928 28.3940406,17.2992142 29,17.53 C29.6739172,17.7999745 30.394041,17.9358469 31.12,17.93 C31.8142112,17.9398122 32.5057503,17.8419847 33.17,17.64 C33.7021465,17.4840395 34.2152999,17.2693871 34.7,17 C35.1767201,16.7515211 35.6146606,16.4348565 36,16.06 L39.78,22.72 C39.0753429,23.281653 38.3025591,23.7520431 37.48,24.12 C36.5813297,24.5017879 35.6554264,24.8159934 34.71,25.06 C33.4971823,25.3634436 32.2500725,25.5079874 31,25.49 C29.2312564,25.506796 27.4747858,25.194836 25.82,24.57 C24.2779037,24.0011524 22.8664147,23.1270495 21.67,22 C20.5121633,20.8663155 19.6028914,19.5041105 19,18 C18.3296572,16.380269 17.9896701,14.642935 18,12.89 L18,12.89 Z" id="Shape"></path>
                                    <path d="M40.1,12.89 C40.0934126,11.2053362 40.4338152,9.53736336 41.1,7.99 C42.3735137,4.96563673 44.7775394,2.55802287 47.8,1.28 C50.92993,-0.0396052304 54.46007,-0.0396052304 57.59,1.28 C60.6218769,2.5560931 63.0339069,4.96812306 64.31,8 C64.9759109,9.54744926 65.3163018,11.2153645 65.31,12.9 C65.3163018,14.5846355 64.9759109,16.2525507 64.31,17.8 C63.0332253,20.8256294 60.6256294,23.2332253 57.6,24.51 C54.47007,25.8296052 50.93993,25.8296052 47.81,24.51 C44.7843706,23.2332253 42.3767747,20.8256294 41.1,17.8 C40.4324682,16.2495456 40.0920373,14.5780297 40.1,12.89 L40.1,12.89 Z M47.66,12.89 C47.6512731,13.5773715 47.7875707,14.2588598 48.06,14.89 C48.5723964,16.096799 49.533201,17.0576036 50.74,17.57 C51.9935905,18.0966988 53.4064095,18.0966988 54.66,17.57 C55.866799,17.0576036 56.8276036,16.096799 57.34,14.89 C57.8666988,13.6364095 57.8666988,12.2235905 57.34,10.97 C56.8276036,9.76320103 55.866799,8.80239639 54.66,8.29 C53.4066378,7.7621696 51.9933622,7.7621696 50.74,8.29 C49.533201,8.80239639 48.5723964,9.76320103 48.06,10.97 C47.7986404,11.5765044 47.6625822,12.2295836 47.66,12.89 L47.66,12.89 Z" id="Shape"></path>
                                    <path d="M77.06,25.5 C75.6652567,25.5158395 74.2761623,25.3202874 72.94,24.92 C71.7785805,24.5747177 70.704521,23.9848374 69.79,23.19 C68.9016787,22.3886284 68.2162297,21.3878727 67.79,20.27 C67.2922397,18.9477003 67.051267,17.542592 67.08,16.13 L67.08,0.88 L75.08,0.88 L75.08,15.81 C74.8501132,16.4615689 74.9587797,17.1847633 75.37,17.74 C76.3640393,18.6275705 77.8659607,18.6275705 78.86,17.74 C79.229242,17.0737577 79.6365844,16.4293554 80.08,15.81 L80.08,0.88 L87.08,0.88 L87.08,16.14 C87.1089785,17.5526104 86.8679979,18.9577648 86.37,20.28 C85.9468694,21.3994927 85.2609517,22.4009326 84.37,23.2 C83.4494156,23.9915608 82.3728447,24.5809493 81.21,24.93 C79.8637312,25.3300703 78.4642789,25.5222842 77.06,25.5 Z" id="Shape"></path>
                                    <polygon id="Shape" points="93.07 6.88 88.07 6.88 88.07 0.88 105.07 0.88 105.07 6.88 101.07 6.88 101.07 24.88 93.07 24.88"></polygon>
                                    <polygon id="Shape" points="113.07 0.88 119.37 0.88 125.59 10.09 131.78 0.88 138.07 0.88 138.07 24.88 131.07 24.88 131.07 16.24 126.07 23.44 121.07 16.24 121.07 24.88 113.07 24.88"></polygon>
                                    <path d="M148.28,0.88 L154,0.88 L163.1,24.88 L155.22,24.88 L154.49,22.88 L147.76,22.88 L147.03,24.88 L139.15,24.88 L148.28,0.88 Z M152.78,17.88 L151.16,13.67 L149.54,17.88 L152.78,17.88 Z" id="Shape"></path>
                                    <path d="M163.07,17.53 C163.622826,17.7068248 164.187604,17.8438417 164.76,17.94 C165.313304,18.0720963 165.874431,18.1689575 166.44,18.23 C167.070668,18.3034376 167.705071,18.3401662 168.34,18.34 C169.466667,18.34 170.03,17.9233333 170.03,17.09 C170.00443,16.6985334 169.815785,16.3357549 169.51,16.09 C169.09405,15.699346 168.656709,15.332113 168.2,14.99 C167.673333,14.5833333 167.11,14.1366667 166.51,13.65 C165.894711,13.155859 165.328735,12.6032786 164.82,12 C164.283216,11.349345 163.842097,10.6253708 163.51,9.85 C163.148875,8.96877974 162.975189,8.0220214 163,7.07 C162.978029,6.01245336 163.193303,4.96342261 163.63,4 C164.02862,3.13983818 164.620703,2.38347793 165.36,1.79 C166.146649,1.18160012 167.042908,0.730075713 168,0.46 C169.018145,0.152166659 170.07634,-0.0028554854 171.14,-1.2490009e-15 C171.731155,-0.000472411578 172.321941,0.0295675489 172.91,0.09 L174.49,0.26 L176.07,0.48 L176.07,7.37 L175.41,7.3 L174.75,7.23 C174.5,7.23 174.25,7.23 173.98,7.23 L173.43,7.23 C173.217603,7.23975737 173.006634,7.26989579 172.8,7.32 C172.608895,7.36529303 172.430898,7.45429142 172.28,7.58 C172.130038,7.709869 172.048778,7.90193799 172.06,8.1 C172.06,8.3 172.226667,8.54666667 172.56,8.84 C172.893333,9.13333333 173.296667,9.46666667 173.77,9.84 C174.25,10.2333333 174.776667,10.6866667 175.35,11.2 C175.944108,11.7401694 176.477285,12.3437661 176.94,13 C177.438368,13.6965252 177.848179,14.4523251 178.16,15.25 C178.503264,16.1430294 178.672965,17.0933582 178.66,18.05 C178.661886,19.0725831 178.485932,20.0877053 178.14,21.05 C177.803808,21.985469 177.256268,22.8307343 176.54,23.52 C175.742203,24.2651016 174.794364,24.8310774 173.76,25.18 C172.471312,25.6103773 171.118392,25.8166975 169.76,25.79 C168.891647,25.7925485 168.023768,25.7491545 167.16,25.66 C166.36,25.5733333 165.653333,25.47 165.04,25.35 C164.36545,25.2417921 163.697681,25.0948829 163.04,24.91 L163.07,17.53 Z" id="Shape"></path>
                                    <polygon id="Shape" points="183.07 6.88 178.07 6.88 178.07 0.88 195.07 0.88 195.07 6.88 191.07 6.88 191.07 24.88 183.07 24.88"></polygon>
                                    <polygon id="Shape" points="197.07 0.88 210.07 0.88 210.07 6.88 204.07 6.88 204.07 9.88 210.07 9.88 210.07 15.88 204.07 15.88 204.07 18.88 211.07 18.88 211.07 24.88 197.07 24.88"></polygon>
                                    <path d="M213.07,0.88 L221.71,0.88 C223.215074,0.866335703 224.714122,1.07182325 226.16,1.49 C227.446912,1.85909341 228.651724,2.46998399 229.71,3.29 C230.706428,4.07477364 231.510242,5.07697542 232.06,6.22 C232.63935,7.47250075 232.926578,8.84025431 232.9,10.22 C232.924909,11.2648276 232.744851,12.3044119 232.37,13.28 C232.07515,14.0238085 231.685243,14.726314 231.21,15.37 C230.7299,15.9934945 230.160435,16.5427421 229.52,17 L234.21,24.92 L224.82,24.92 L221.07,18.84 L221.07,24.92 L213.07,24.92 L213.07,0.88 Z M221.07,12.88 L221.44,12.88 C222.206274,12.902828 222.962968,12.7049767 223.62,12.31 C224.246452,11.8763426 224.590457,11.1386409 224.52,10.38 C224.590457,9.62135908 224.246452,8.88365745 223.62,8.45 C222.962968,8.0550233 222.206274,7.85717204 221.44,7.88 L221.07,7.88 L221.07,12.88 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g transform="translate(250.000000, 0.000000)">
                <path d="M1.76375949,3.1988588 C5.76546142,6.40673709 9.27759843,5.88472331 12.9085215,5.0094912 C19.9119358,3.50462662 25.9687953,2.35768719 32.6569225,6.17839722 C35.0465948,7.31235702 36.103641,10.4837704 39.1736336,9.91443357 C39.3779226,9.91543962 39.5860625,9.91112215 39.7983727,9.90101731 C39.633583,10.0061644 39.4703797,10.1074527 39.308705,10.2050624 C37.0445707,12.6372933 34.6819286,11.4906274 32.9537959,11.1908672 C25.1758911,9.85255586 20.9829421,14.9744584 13.7496467,19.5501593 C10.9316021,21.568009 7.38172545,22.6444716 1.70346993,20.5087365 L1.76375949,3.1988588 Z" id="Shape" fill="#EA3E3E"></path>
                <polygon id="pole" fill="#543C24" points="2.47965046 41.5053606 1.671941 0.231576894 0.218046989 0.154503696 0.298818382 41.7013325"></polygon>
            </g>
        </g>
    </g>
</svg>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse  " id="bs-example-navbar-collapse-1">
      <div class="location-index search col-sm-7">


        <%= form_tag locations_path, method: :get do %>
          <p>
            <%= text_field_tag :tag,params[:tag], placeholder: "Search for Locations" %>
            <%= submit_tag "Search", :title => nil %>


        <% end %>

      </div>

      <div class="nav navbar-nav   navbar-right ">
            <% if logged_in? %>
         
                <%= link_to '', new_location_path, class: 'glyphicon glyphicon-pencil new-location' %>
              <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">              <%= image_tag current_user.avatar.url(:thumb) %>
            <h3><%= current_user.name %> <span>&#8964;</span></h3>

</a>
          <ul class="dropdown-menu">

<li><%= link_to 'View Profile', user_path(current_user) %></li>
            <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>

              <li><%= link_to 'Fellow Scouters', users_path %></li>

                <li><a href="#"><%= link_to 'Logout', logout_path, method: 'delete' %></a></li>

              <% else %>
              <li class="login"><%= link_to 'Log In', login_path, class: 'login' %></li>
              <li class="login"><%= link_to 'Create Account', new_user_path, class: 'login' %></li>


</a></li>


          </ul>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

