<% provide(:title, 'Fellow Scouters') %>
<div class="container">
<h2>Fellow Scouters</h2>
<div class="user-content ">

<% @users.each do |p| %>

<div class="user-content--users col-md-12 ">

    <div class="user-content--users--image col-md-3">



      <%= image_tag p.avatar.url(:medium)  %>

    </div>
<div class="user-content--users--name col-md-5">
    <h2><%= link_to p.name, user_path(p) %> </h2>
    <p> <%= p.summary %></p>
</div>
<div class="user-content--users--name col-md-3">
    <h3> <%= p.hometown %></h3>
</div>
</div>





<% end %>
</div>
</div>

<%= will_paginate @users, :page_links => false %>
