
<div class="col-sm-5 ">



  <h1> <%= @user.name %></h1>
  <% if current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <% end %>
<%= image_tag @user.avatar.url %>
<p><%= @user.summary %></p>
</div>

<div class="col-sm-7 ">
<h2><%= @user.name %>'s locations</h2>
<% @user.locations.each do |p| %>
<%= image_tag p.image.url(:large) %>
<h2><%= link_to p.title, location_path(p.id) %> </h2>
<p><%= p.body %> </p>



<% if current_user == p.user %>

<%= link_to 'Delete', p, method: :delete %>
  <% end %>

<% end %>
</div>
