<% provide(:title, @user.name) %>
<div >

<div class="container">

<div class="col-sm-4 user ">





<%= image_tag @user.avatar.url %>
<h1> <%= @user.name %></h1>
<% if @user.id != current_user.id %>
              <% if current_user.following?(@user) %>
                <%= link_to "Unfollow", unfollow_user_path(@user), :class => 'btn follow-btn btn-sm-6  unfollow connect', remote: true %>
                <!-- <button class="btn btn-bookloop btn-sm pull-right message-user" data-toggle="modal" data-target="#newMessageModal">
                  <img src="https://s3.amazonaws.com/bklp/message_icon_new.png">
                </button> -->
              <% else %>
                <%= link_to "Follow", follow_user_path(@user), :class => 'btn  follow-btn btn-sm-6 follow connect', remote: true %>
              <% end %>
            <% end %>


            <% if current_user == @user %>
              <%= link_to 'Edit Profile', edit_user_path(@user) , class: "update-profile" %>
              <%= link_to "Delete",  @user, method: :delete, class: "update-profile", 
              data: { confirm: "You sure?" } %>
              <% end %>
<h3>Bio</h3>
<p><%= @user.summary %></p>





<h3>Portfolio</h3>
<% if @user.portfolio? %>
<a href="http://<%= @user.portfolio%>" target="_blank"><%= @user.portfolio%></a>
<% end %>

<h3>Social</h3>
<% if @user.socialtwo? %>
<a class="social" href="https://instagram.com/<%= @user.instagram%>" target="_blank" class="instagram" id="instagram" >
    <svg class="instagram" width="50px" height="50px" >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
    </svg>
  </a>

<a class="social" href="https://twitter.com/<%= @user.socialtwo%>" target="_blank" class="twitter" id="twitter" >
    <svg class="twitter" width="50px" height="50px" >
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
    </svg>
  </a>


  <% else %>

  <% end %>

<h3>Hometown</h3>
<% if @user.hometown? %>
<p><%= @user.hometown %></p>
<% end %>

<!-- <p>Following(<%= @user.follow_count %>) </p> -->

<h3>Followers (<%= @user.followers_count %>) </h3>

<% @user.followers.each do |p| %>
<div class="user-show--followers">
  <p><%= link_to p.name, user_path(p) %> </p>
  <%=  image_tag p.avatar.url %>
</a>
</div>

<% end %>




</div>



<div class="col-sm-8 user-locations--index">
<!-- <h2><%= @user.name %>'s locations <%= pluralize(@user.locations.count, "") %> </h2> -->
<% @user.locations.each do |p| %>
<div class="user--locations ">
<%= image_tag p.image.url(:large) %>
<h2><%= link_to p.title, location_path(p) %> </h2>
  <p> <%= markdown p.body %></p>

  <%= link_to like_location_path(p), class: "like-btn", method: :put, remote: :true do  %>

    <button type="button" class="button button-info" aria-label="Left Align" name="button">
      <span class="glyphicon glyphicon glyphicon-heart " aria-hidden="true"></span>
      <span class="badge"><%= p.get_upvotes.size %> likes</span>
    </button>
    <% end %>



<% if current_user == p.user %>

<div class="location-content--post--users ">
    <%= link_to 'Delete', p, method: :delete %>
</div>
  <% end %>

</div>






<% end %>
</div>
</div>
</div>
</div>
