<% provide(:title, "Locations") %>
    </div>



<div  class="location-content--index-map ">
  <div class="map-container"  id="multi_markers" ></div>
</div>

<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap(

  { provider:  { scrollwheel: false, zoom: 17,  styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#2db0e9"
      },
      {
        "lightness": "64"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#00548f"
      },
      {
        "lightness": 20
      },
      {
        "gamma": 0.01
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "saturation": -31
      },
      {
        "lightness": -33
      },
      {
        "gamma": 0.8
      },
      {
        "visibility": "off"
      },
      {
        "weight": 2
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": 30
      },
      {
        "lightness": 30
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#ede9f3"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": 20
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": -20
      },
      {
        "lightness": 20
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": -30
      },
      {
        "lightness": "71"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "saturation": 25
      },
      {
        "lightness": 25
      }
    ]
  },
  {
    "featureType": "water",
    "stylers": [
      {
        "lightness": -20
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#80c6fe"
      },
      {
        "weight": 3.5
      }
    ]
  }
]},
  internal: {id: 'multi_markers'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();

});



</script>


<div class="row">

<div class="container">
<% @locations.each do |p| %>
<div class="location-content--index col-md-6">
<h2><%= link_to p.title, location_path(p) %> </h2>



<div class="location-content--index--img ">
  <%= image_tag p.user.avatar.url , class: "image-avatar  "%>
  <% if p.user.following?(p) %>
  <p><%= p.followers_count %> </p>
  <% end %>
</div>
<p class="location-content--index--scouted-by"> Scouted by <%= link_to p.user.name, user_path(p.user) %></p>
<p class="location-content--index--scouted-by">Posted <%= time_ago_in_words(p.created_at) %> ago</p>
<%= image_tag p.image.url(:large) %>
<p> <%=   p.body %></p>


<div class="tag-list">
  <%= raw p.tag_list.map { |t| link_to t , tag_path(t) }.join(' ') %>
</div>

<%= link_to like_location_path(p), class: "like-btn", method: :put, remote: :true do  %>

  <button type="button" class="button button-info" aria-label="Left Align" name="button">
    <span class="glyphicon glyphicon glyphicon-heart " aria-hidden="true"></span>
    <span class="badge"><%= p.get_upvotes.size %> likes</span>
  </button>
  <% end %>

  

  <!-- <%= link_to dislike_location_path(p), class: "like", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="Left Align" name="button">
      <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
      <span class="badge"><%= p.get_downvotes.size %></span>
    </button>
    <% end %> -->
</div>

<% end %>
<%= will_paginate @locations, :page_links => false %>
