<div class="location-index col-md-8">

  <h1>Search for your location.</h1>

  <%= form_tag locations_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>

</div>


<% @locations.each do |p| %>
<div class="location-content--index col-md-6">
<h2><%= link_to p.title, location_path(p) %> </h2>
<%= image_tag p.image.url(:large) %>
<p> Written by <%= link_to p.user.name, user_path(p.user) %></p>


<h6>Posted <%= time_ago_in_words(p.created_at) %> ago</h6>
<p> <%=  p.body %></p>
</div>
<% end %>
