<% provide(:title, @location.title) %>
<div class="location-content row">
<div class="container">


<div class="col-md-6 ">
<%= image_tag @location.image.url(:large) %>
<div class="map-image ">
  <h2>Location</h2>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=992x992&key=AIzaSyCxJInoQGs969DcTm5qw6tE9Blds8iYbiU&zoom=15&markers=#{@location.latitude}%2C#{@location.longitude}" %>
</div>

</div>

<div class="location-content--post col-md-6">
  <!-- <%= image_tag @location.user.avatar.url(:thumb) %> -->
  <h2> <%= @location.title %></h2>
  <h3>@<%= link_to @location.user.name, user_path(@location.user) %></h3>

  <h3><%= @location.address %></h3>



  <p> <%= markdown @location.body %></p>

  <%= link_to like_location_path(@location), class: "like-btn", method: :put, remote: :true do  %>
    <button type="button" class="button button-info" aria-label="Left Align" name="button">
      <span class="glyphicon glyphicon glyphicon-heart " aria-hidden="true"></span>
      <span class="badge"><%= @location.get_upvotes.size %> likes</span>
    </button>
    <% end %>

</div>
<div class="location-content--post--owner col-md-6">
  <% if  @location.user == current_user %>
    <%= link_to 'Edit', edit_location_path(@location) %>
    <%= link_to 'Delete', location_path(@location), method: :delete %>
  <% end %>
</div>








<%= render 'comments/comment' %>
</div>

</div>
