<h1>location <%= @location.title %></h1>
<h2>By <%= link_to @location.user.name, user_path(@location.user) %></h2>
<%= image_tag @location.user.avatar.url(:thumb) %>

<%= image_tag @location.image.url(:large) %>
<p> <%= @location.body %></p>
<% if  @location.user == current_user %>
  <%= link_to 'Edit', edit_location_path(@location) %>
  <%= link_to 'Back', locations_path %>
  <%= link_to 'Delete', location_path(@location), method: :delete %>
<% end %>

<%= render 'comments/comment' %>
